services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
  JambageCom\TtProducts\:
    resource: '../Classes/*'
    exclude: ['../Classes/{Backend,Middleware,UserFunc,Api}/*']

  JambageCom\TtProducts\Domain\Model\Dto\EmConfiguration:
    public: true

  JambageCom\TtProducts\EventListener\PageContentPreviewRenderingListener:
    tags:
      - name: event.listener
        identifier: 'ttproductsCodeListener'
        event: TYPO3\CMS\Backend\View\Event\PageContentPreviewRenderingEvent
